@import "../variables";

body {
  font-size: $text-size;
  line-height: 1.5;
}
code, pre {
  font-family: monospace; // TODO variable-ize
}
code {
  // TODO put more thought into styling code
  padding: .2em;
  background: lighten($text-color, 65%);
  border-radius: $border-radius;
}
p {
}
