@import "../variables";
@import "../mixins/depth";

@mixin card($background: map-get($card, light-background), $level: $depth-level-default) {
  overflow: hidden; // To reduce 'leakage' from children due to border-radius
  border-radius: $border-radius;
  background: $background;
  @include depth($level: $depth-level-default);

  .card-body {
    padding: $vertical-margin $horizontal-margin;
  }
  .card-title, .card-subtitle {
    + * { // TODO revisit; not sure I like this.
      margin-top: $vertical-margin;
    }
  }
  .card-title {
    font-size: 1.5*$text-size; // TODO something more rational... golden ratio for typography?
  }
  .card-subtitle {
    color: lighten($text-color, 10%); // TODO how should I setup the color / sizing / whitespace for this?
    font-size: 1.3*$text-size; // TODO something more rational... golden ratio for typography?
    margin-top: $vertical-margin;
  }
  .card-divider {
    $border-color: null;

    @if lightness($background) < 50% {
      // Then the background is dark, we need a lighter line
      $border-color: lighten($background, 10%);
    } @else {
      // Then the background is dark, we need a darker line
      $border-color: darken($background, 10%);
    }
    border-top: 1px solid $border-color;
  }
}
.nui-card {
  @include card();
}
