@import "../variables";
@import "../mixins/depth";

@mixin toolbar($background: map-get($card, light-background), $level: $depth-level-default) {
  background: $background;
  padding: 0 $horizontal-margin;
  @include depth($level: $depth-level-default);

  // TODO light and dark versions? (bg, text)
}
.nui-toolbar {
  @include toolbar();

  > [class^="toolbar"] {
    display: inline-block;
    vertical-align: middle;
    line-height: $toolbar-height;
  }
  .toolbar-drawer-toggle {
    width: $toolbar-height;
    height: $toolbar-height;
    margin-left: -$horizontal-margin;
    text-align: center;
  }
  .toolbar-title {
    font-size: 1.5*$text-size; // TODO something more rational... golden ratio for typography?
  }
}
