@import "../variables";

body {
  font-family: "Roboto", sans-serif;
  color: $text-color;
}
code, pre {
  font-family: "Inconsolata", monospace;
}

// TODO a more elegant way of colorizing toolbars 
// TODO a more elegant way of styling stuff for docs
.nui-toolbar {
  background: $primary-color;
  color: #f2f2f2;

  .toolbar-title {
  }
}

main {
  min-height: 100vh;
  background: #f2f2f2;
  padding: $vertical-margin $horizontal-margin;

  > .nui-card + .nui-card {
    margin-top: $vertical-margin;
  }

  /* Cards(.html) page */
  // Most of this section is just a temporary playground
  // to help me decide how to abstract styles out.
  &.cards {
    > .card-custom {
      margin: auto auto;
      max-width: 500px;
      margin-bottom: $vertical-margin;
    }
    .card-custom {
      // Stash post variant
      &.stash {
        .card-overflow {
          margin-top: $vertical-margin/2;
          text-align: left; // TODO use $text-start and $text-end variables to accomedate LTR and RTL languages at some point

          li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 1rem;

            img {
              border-radius: 100%;
              vertical-align: text-bottom;
            }
            &.overflow {
              float: right;
              margin: 0 0 0 1rem;
            }
          }
        }
      }
    }
    .card-overflow {
      text-align: right; // TODO use $text-start and $text-end variables to accomedate LTR and RTL languages at some point
    }
  }
}
