@import "variables";

body {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: $text-color;
}

// TODO a more elegant way of colorizing toolbars 
// TODO a more elegant way of styling stuff for docs
.nui-toolbar {
  background: #000;
  color: #ddd;

  .toolbar-title {
  }
}
